version: "2"

services:
  samba:
    restart: "no"
    image: dperson/samba
    volumes:
    - /tmp/.samba:/temp
    - /work/temp:/share
    - /work/win.iso:/iso
    ports:
    - "139:139"
    - "445:445"
    command: -s "temp;/temp;yes;no;yes" -s "share;/share" -s "iso;/iso"
